<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project_ssr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE0D11B3212A474100D3C2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0D11C7212A474200D3C2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0D11D2212A474200D3C2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
